.gist {
    width: 100%;
    color: white;
    margin: 0;
    background-color: #050505;
}

.gist__reverse {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #050505;
}

.gist__shade {
    display: flex;
    align-items: center;
    background: linear-gradient(60deg, #050505, #363535);
}

.gist__reverse__shade {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(60deg, #363535, #050505);
}

.tagline {
    width: 55%;
    display: flex;
    flex-flow: column wrap;
    padding: 5rem;
    z-index: 2;
}

.tagline h1 {
    font-size: 2.7rem;
    margin: 1.5rem 0;
}

.button__group {
    text-align: center;
    width: 18rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.button__group p {
    font-size: .9rem;
    margin: .5rem auto;
}