.footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2rem;
    background-color: #272626;
}

.footer img {
    width: 7rem;
}

.links {
    width: 30rem;
    display: flex;
    justify-content: space-around;
}

.links a {
    text-decoration: none;
    color: #1e6eac;
    transition: .3s ease-in;
}

.links a:hover {
    color: #6faedf;
}

.footer p {
    color: #a3a2a2;
    padding: .9rem;
}